<html>
	<head><h3>Welcome</h3></head>
		<body>
            <form action="/login" method="POST">
            Username:<br>
            <input type="text" name="name"><br>
        	Password:<br>
            <input type="text" name="password"><br>
            <input type="submit" value="Login">
        </body>
</html>
